@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

li{
  list-style: none;
}

img{
  max-width: 100%;
}

header{
  position: fixed;
  width: 30%;
  background-color: #dbeae9cd;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;

  
}

#wave{
  width:60px;
  height: 60px;
  background-image: url(../images/wave.png);
  background-size: 60px auto;
  background-position: center center;
  background-repeat: repeat-x;
  margin-left: auto;
}

#menu{
  position: fixed;
  top: 300px;
  font-size: 55px;
  font-family: 'Hiragino Maru Gothic ProN W4', sans-serif;
  line-height: 75px;
  
  color: #000000;
  background-color: #f8f8faa3;
  left: 20px;
  z-index: 100;
  cursor: pointer;
  
  
}

#content{
  position: relative;
  margin: 100px auto;
  padding: 20px;
  max-width: 850px;
}

.set{
  background-color: rgba(255, 255, 255, 0);
  min-height: 400px;
  margin-bottom: 40px;
}

body.one #backimg01,
body.two #backimg02,
body.three #backimg03{
  opacity: 1;
}

#back{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fcfcfc;
}

.backimg{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s all;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, rgb(162, 219, 231),rgb(0, 64, 255));
}



figure, p {/* リセット用（場合によっては不要） */
  margin:0;
}
.image_box{
  width: 350px;
  display: block;
}
.hover_t_1{
  position: relative;
    img{
      display: block;
      width: 100%;
      transition: .3s;
    }
    figcaption{
      opacity: 0;
      transition: .3s;
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      color: #fff;
      .txt_box{
        position: relative;
        width: 100%;
        height: 100%;
        >p{
          width: 100%;
          text-align: center;
          position: absolute;
          left: 50%;
          top:50%;
          transform: translate(-50%,-50%);
        }
      }
    }
    &:hover{
      figure{
        img{
          filter: brightness(60%);
        }
        figcaption{
          opacity: 1;
        }
      }
    }
  }